<section class="forgot-password forgot-password__bg">
  <div class="container">
    <div class="page-header">
      <h2 class="page-header__title">إعادة تعيين كلمة المرور</h2>
      <p class="page-header__caption">
        يرجي إدخال رقم الجوال و سنقوم بإرسال رسالة تحتوي علي كود لتعيين كلمة
        مرور جديدة
      </p>
    </div>
    <form #Form="ngForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="formGroupExampleInput">رقم الجوال</label>
            <input
              type="namber"
              class="form-control"
              placeholder="رقم الجوال"
              placeholder="05xxxxx"
              name="phone_number"
              pattern="[0-9]{10}$"
              #phone_number="ngModel"
              [(ngModel)]="data.phone_number"
              required
              (input)="error = ''"
            />
            <div
              *ngIf="
                phone_number.invalid &&
                (phone_number.dirty || phone_number.touched)
              "
              class="validation"
            >
              <p class="validation__title" *ngIf="phone_number.errors.required">
                هذا الحقل مطلوب
              </p>
              <p class="validation__title" *ngIf="phone_number.errors?.pattern">
                يجب أن يحتوي بين 10 و 10 رقمًا/أرقام
              </p>
            </div>
            <p class="validation__title" *ngIf="error">
              {{ error }}
            </p>
          </div>
          <div class="forgot-password__link">
            <button
              (click)="reset()"
              [disabled]="!Form.valid"
              class="button button--block button--radius button--secondary"
            >
              <span>إعادة إرسال</span>
              <div class="loading" *ngIf="isLoading">
                <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
              </div>
            </button>
          </div>
        </div>
      </div>
      <!-- <p class="forgot-password__text"> لم تصلك الرسالة بعد, تأكد من إدخال رقم الجوال الصحيح <br><a href="#">أو
                    اضغط لاعاده الارسال</a></p> -->
    </form>
  </div>
  <footer class="footer">
    <p class="footer__text">
      جميع الحقوق محفوظة لشركة عطارد للحلول السكنية 2020
    </p>
  </footer>
</section>
