<section>
  <div class="page-header-container">
    <div class="page-header">
      <h2 class="page-header__title">
        الرئيسية
      </h2>
    </div>
  </div>
  <div class="row m-b-30">
    <div class="col-lg-2 col-md-4">
      <div class="box box--primary">
        <div class="box__content">
          <svg class="box__icon">
            <use xlink:href="/assets/image/svg-icons.svg#icon-laptop"></use>
          </svg>
          <div>
            <h4 class="box__num">12</h4>
            <p class="box__title">حساب جديد</p>
          </div>
        </div>
        <button class="button button--radius button--sm button--white-box">
          تصفح الحسابات
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="box box--gold">
        <div class="box__content">
          <svg class="box__icon">
            <use xlink:href="/assets/image/svg-icons.svg#icon-money"></use>
          </svg>
          <div>
            <h4 class="box__num">12</h4>
            <p class="box__title">حساب جديد</p>
          </div>
        </div>
        <button class="button button--radius button--sm button--white-box">
          تصفح الحسابات
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="box box--secondary">
        <div class="box__content">
          <svg class="box__icon">
            <use xlink:href="/assets/image/svg-icons.svg#icon-house-2"></use>
          </svg>
          <div>
            <h4 class="box__num">12</h4>
            <p class="box__title">حساب جديد</p>
          </div>
        </div>
        <button class="button button--radius button--sm button--white-box">
          تصفح الحسابات
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="box box--default">
        <div class="box__content">
          <svg class="box__icon">
            <use xlink:href="/assets/image/svg-icons.svg#icon-house-visiting"></use>
          </svg>
          <div>
            <h4 class="box__num">12</h4>
            <p class="box__title">حساب جديد</p>
          </div>
        </div>
        <button class="button button--radius button--sm button--white-box">
          تصفح الحسابات
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="box box--blue">
        <div class="box__content">
          <svg class="box__icon">
            <use xlink:href="/assets/image/svg-icons.svg#icon-people"></use>
          </svg>
          <div>
            <h4 class="box__num">12</h4>
            <p class="box__title">حساب جديد</p>
          </div>
        </div>
        <button class="button button--radius button--sm button--white-box">
          تصفح الحسابات
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="box box--danger">
        <div class="box__content">
          <svg class="box__icon">
            <use xlink:href="/assets/image/svg-icons.svg#icon-buildings"></use>
          </svg>
          <div>
            <h4 class="box__num">12</h4>
            <p class="box__title">حساب جديد</p>
          </div>
        </div>
        <button class="button button--radius button--sm button--white-box">
          تصفح الحسابات
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="l-f-between l-f-baseline">
      <h3 class="typo-title typo--dark-blue">أحدث طلبات التمويل</h3>
      <button class="button button--radius button--sm  button--gold">
        تصفح الكل
      </button>
    </div>
    <div class="row m-b-30">
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                حالة الطلب
              </p>
              <p class="panel__description">في انتظار تأكيد طلب الحجز</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--sm button--radius button--blue">
                التفاصيل
              </button>
              <button class="button button--radius button--sm button--outline button--outline-blue">
                تغيير حالة الطلب
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                حالة الطلب
              </p>
              <p class="panel__description">في انتظار تأكيد طلب الحجز</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--radius button--sm button--blue">
                التفاصيل
              </button>
              <button class="button button--radius button--sm button--outline button--outline-blue">
                تغيير حالة الطلب
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                حالة الطلب
              </p>
              <p class="panel__description">في انتظار تأكيد طلب الحجز</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--radius button--sm button--blue">
                التفاصيل
              </button>
              <button class="button button--radius button--sm button--outline button--outline-blue">
                تغيير حالة الطلب
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                حالة الطلب
              </p>
              <p class="panel__description">في انتظار تأكيد طلب الحجز</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--radius button--sm button--blue">
                التفاصيل
              </button>
              <button class="button button--radius button--sm button--outline button--outline-blue">
                تغيير حالة الطلب
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="l-f-between l-f-baseline">
        <h3 class="typo-title typo--dark-blue">أحدث طلبات التمويل</h3>
        <button class="button button--radius button--sm  button--gold">
          تصفح الكل
        </button>
      </div>
      <div class="main-table main-table--white">
        <table mat-table [dataSource]="reservationsRequestData">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>رقم الطلب</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>اسم العميل</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>اسم المطور</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>اسم المشروع</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <!-- unit Column -->
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>حالة الطلب</th>
            <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button mat-icon-button>
                  <svg class="main-table__icon main-table__icon--blue">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-delete"></use>
                  </svg>
                </button>
                <button mat-icon-button class="main-table__button">
                  حجز
                </button>
                <button mat-icon-button>
                  <svg class="main-table__icon main-table__icon--red">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="l-f-between l-f-baseline">
        <h3 class="typo-title typo--dark-blue">طلبات حذف مشاريع</h3>
        <button class="button button--radius button--sm  button--gold">
          تصفح الكل
        </button>
      </div>
      <div class="main-table main-table--white">
        <table mat-table [dataSource]="deletedProjectsData">
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>اسم المطور</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>اسم المشروع</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button mat-icon-button>
                  <svg class="main-table__icon main-table__icon--red">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-delete"></use>
                  </svg>
                </button>
                <button mat-icon-button>
                  <svg class="main-table__icon">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-block"></use>
                  </svg>
                </button>
                <button mat-icon-button>
                  <svg class="main-table__icon main-table__icon--blue">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-visibility"></use>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="deletedProjectsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: deletedProjectsColumns"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="l-f-between l-f-baseline">
        <h3 class="typo-title typo--dark-blue">أحدث طلبات الزيارة</h3>
        <button class="button button--radius button--sm button--gold">
          تصفح الكل
        </button>
      </div>
      <div class="main-table main-table--white">
        <table mat-table [dataSource]="reservationsRequestData">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>رقم الطلب</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>اسم العميل</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>اسم المطور</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>اسم المشروع</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <!-- unit Column -->
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>حالة الطلب</th>
            <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button mat-icon-button>
                  <svg class="main-table__icon main-table__icon--blue">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-visibility"></use>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="l-f-between l-f-baseline">
        <h3 class="typo-title typo--dark-blue">المطورين</h3>
        <button class="button button--radius button--sm  button--gold">
          تصفح الكل
        </button>
      </div>
      <div class="main-table main-table--white">
        <table mat-table [dataSource]="deletedProjectsData">
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>اسم المطور</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>اسم المشروع</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button mat-icon-button>
                  <svg class="main-table__icon main-table__icon--blue">
                    <use xlink:href="/assets/image/svg-icons.svg#icon-visibility"></use>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="deletedProjectsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: deletedProjectsColumns"></tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <div class="l-f-between l-f-baseline">
      <h3 class="typo-title typo--dark-blue">أحدث طلبات التمويل</h3>
      <button class="button button--radius button--sm  button--gold">
        تصفح الكل
      </button>
    </div>
    <div class="row m-b-30">
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم التجاري
              </p>
              <p class="panel__description">مستقبل العقارات</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                المدينة
              </p>
              <p class="panel__description">الرياض</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--radius button--sm button--blue">
                التفاصيل
              </button>
              <button class="button button--radius button--sm button--green">
                تفعيل
              </button>
              <button class="button button--radius button--sm button--danger">
                رفض
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم التجاري
              </p>
              <p class="panel__description">مستقبل العقارات</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                المدينة
              </p>
              <p class="panel__description">الرياض</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--sm button--radius button--blue">
                التفاصيل
              </button>
              <button class="button button--sm button--radius button--green">
                تفعيل
              </button>
              <button class="button button--sm button--radius button--danger">
                رفض
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم التجاري
              </p>
              <p class="panel__description">مستقبل العقارات</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                المدينة
              </p>
              <p class="panel__description">الرياض</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--sm button--radius button--blue">
                التفاصيل
              </button>
              <button class="button button--sm button--radius button--green">
                تفعيل
              </button>
              <button class="button button--sm button--radius button--danger">
                رفض
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <h4 class="panel__title">رقم الطلب <span>532</span></h4>
          <div class="panel__content">
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم بالكامل
              </p>
              <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                الاسم التجاري
              </p>
              <p class="panel__description">مستقبل العقارات</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                المدينة
              </p>
              <p class="panel__description">الرياض</p>
            </div>
            <div class="panel__group">
              <p class="panel__description panel__description--bold">
                رقم الجوال
              </p>
              <p class="panel__description">0502314789</p>
            </div>
            <div class="panel__group panel__group--flex">
              <button class="button button--sm button--radius button--blue">
                التفاصيل
              </button>
              <button class="button button--sm button--radius button--green">
                تفعيل
              </button>
              <button class="button button--sm button--radius button--danger">
                رفض
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>