<main>
  <div class="inner-banner">
    <div class="container">
      <div class="row">
        <div class="col-xl-7">
          <div class="fold__title u-color-white">
            أضف عقارك، و قم بإدارتها من مكان واحد
          </div>
          <div class="fold__action">
            <app-subscription-modal></app-subscription-modal>
            <a
              routerLink="/auth/dev-register"
              class="button button--md m-2 button--radius border-white"
            >
              مطور ؟ سجل حسابك
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section mt-5 is-animated">
      <div class="section_items-container mb-5">
        <div class="section-items">
          <img
            src="/assets/landing-page/img/bar-chart2.svg"
            alt=""
            class="mb-4"
          />
          <p class="blue typo-display1">109,000</p>
          <p class="section_items-container_text">عدد زوار الموقع</p>
        </div>
        <div class="section-items">
          <img
            src="/assets/landing-page/img/bar-chart.svg"
            alt=""
            class="mb-4"
          />
          <p class="green typo-display1">8,000</p>
          <p class="section_items-container_text">عدد الطلبات</p>
        </div>
      </div>
      <h2 class="section-header">
        <span>لماذا عطارد</span>
      </h2>
      <div class="section_container mb-5">
        <div class="section_container_details col-lg-6">
          <h3 class="section_container_details_title typo-display1">
            خدمة مجانية
          </h3>
          <p class="section_container_details_text">
            تستطيع مجاناً إضافة مشاريعك و وحداتك العقارية وإدارتها بسهولة ، أيا
            كان عددها ، عن طريق منصة مرنة وسهلة الاستخدام
          </p>
        </div>
        <img
          src="/assets/landing-page/img/Group 481.svg"
          class="section_container_image col-lg-4"
        />
      </div>
      <div class="section_container section_container--reverse mb-5">
        <div class="section_container_details col-lg-6">
          <h3 class="section_container_details_title typo-display1">
            إمكانية استقبال طلبات الزيارة والحجز
          </h3>
          <p class="section_container_details_text">
            نقدم لك أدوات سهلة للتواصل مع العملاء لزيارة المشاريع وحجز الوحدات
          </p>
        </div>
        <img
          src="/assets/landing-page/img/Parkbench_ Get to Know Your Local Neighborhood! - Parkbench-1.svg"
          class="section_container_image col-lg-4"
        />
      </div>
      <div class="section_container mb-5">
        <div class="section_container_details col-lg-6">
          <h3 class="section_container_details_title typo-display1">
            عميل جاهز
          </h3>
          <p class="section_container_details_text">
            عملاؤنا مميزون ، عرض مشاريعك في منصتنا يعني الحصول على عميل عارف
            محتسبه، طلبات الزيارة والحجز لا تتم الا بعد معرفة العميل قدرته
            الشرائيه
          </p>
        </div>
        <img
          src="/assets/landing-page/img/undraw_small_town_rxs3.svg"
          class="section_container_image col-lg-4"
        />
      </div>
      <div class="section_container section_container--reverse mb-5">
        <div class="section_container_details col-lg-6">
          <h3 class="section_container_details_title typo-display1">
            تقارير إحصائية
          </h3>
          <p class="section_container_details_text">
            نقدم لك تقارير مفصلة عن وحداتك وعملائك ، وطلبات الحجز والزيارة ،
            يساعدك هذا على اتخاذ القرار ومتابعة الأداء
          </p>
        </div>
        <img
          src="/assets/landing-page/img/NeoReach_ Influencer Marketing for Global Brands-16.svg"
          class="section_container_image col-lg-4"
        />
      </div>
      <div class="section_container mb-5">
        <div class="section_container_details col-lg-6">
          <h3 class="section_container_details_title typo-display1">
            كن متصلاً مع عملائك
          </h3>
          <p class="section_container_details_text">
            أدوات ربط تجعلك قريباً من عملائك خارج وداخل المنصة ، يمكنك مشاركة
            نموذج أو وحدة عقارية مع عميل بشكل مباشر
          </p>
        </div>
        <img
          src="/assets/landing-page/img/Group 506.svg"
          class="section_container_image col-lg-4"
        />
      </div>
      <div class="section_container section_container--reverse mb-5">
        <div class="section_container_details col-lg-6">
          <h3 class="section_container_details_title typo-display1">
            خدمة عملاء متميزة
          </h3>
          <p class="section_container_details_text">
            الدعم الفني جاهز لاستقبال استفساراتكم ، ومساعدتكم للاستفادة من
            المنصة بالشكل الأمثل
          </p>
        </div>
        <img
          src="/assets/landing-page/img/Image 4.svg"
          class="section_container_image col-lg-4"
        />
      </div>
    </div>
  </div>
  <div class="l-section--primary pt-3 pb-3">
    <div class="container">
      <h2 class="section-header u-color-white mb-3">
        <span>لديك عقار تود إضافته</span>
      </h2>
      <p class="u-color-white mb-5 text-center">
        تعرف على مزايا عطارد وسجّل معنا لتنضم إلى القائمة الأولى عند إصدار
        الخدمة
      </p>
      <div class="button-wrapper d-flex justify-content-center">
        <app-subscription-modal></app-subscription-modal>
        <a
          routerLink="/auth/dev-register"
          class="button button--md button--primary button--radius border-white"
        >
          مطور ؟ سجل حسابك</a
        >
      </div>
    </div>
  </div>
</main>
