<div class="dialog" *ngIf="!acceptConfirm">
    <div class="dialog-content">
        <div class="dialog__title">
            <h2 class="dialog__title-text m-0">تغير كلمه السر</h2>
            <button class="dialog__title-close" mat-dialog-close mat-icon-button>
                <svg>
                    <use xlink:href="/assets/image/svg-icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-group--password" for="exampleInputPassword1">كلمه السر القديمه</label>
                    <div class="form-group__composed form-group__composed--size">
                        <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control"
                            id="exampleInputPassword1" placeholder="*********">
                        <svg class="form-group__icon" (click)="togglePasswordFieldType()">
                            <use xlink:href="/assets/image/svg-icons.svg#icon-visibility"></use>
                        </svg>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group--pd" for="exampleInputPassword1">كلمه السر الجديد</label>
                    <div class="form-group__composed form-group__composed--size">
                        <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control"
                            id="exampleInputPassword1" placeholder="*********">
                        <svg class="form-group__icon" (click)="togglePasswordFieldType()">
                            <use xlink:href="/assets/image/svg-icons.svg#icon-visibility"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-group__actions button--group form-group__actions--m">
        <button (click)="password()" class="button button--radius button--blue button--xlg">تغير كلمه
            السر</button>
    </div>
</div>