<div class="dialog">
  <div class="dialog__title">
    <span>تغيير كلمه السر</span>
    <button class="dialog__close" mat-icon-button (click)="onNoClick()">
      <svg>
        <use xlink:href="/assets/image/svg-icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <form #Form="ngForm" class="dialog__content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>كلمه السر الحاليه</label>
          <div class="form-group__composed">
            <input
             [type]="isOldPasswordHashType"
              class="form-control form-control--full-width"
              placeholder="*********"
              name="current_password"
              #current_password="ngModel"
              [(ngModel)]="passwordObj.current_password"
              required
            />
            <svg
            class="form-group__icon"
            *ngIf="isOldPasswordHashType == 'password'"
            (click)="isOldPasswordHashType = 'text'"
          >
            <use
              xlink:href="/assets/image/svg-icons.svg#icon-visibility"
            ></use>
          </svg>
          <svg
            class="form-group__icon"
            *ngIf="isOldPasswordHashType == 'text'"
            (click)="isOldPasswordHashType = 'password'"
          >
            <use xlink:href="/assets/image/svg-icons.svg#icon-hidden"></use>
          </svg>
          </div>
        </div>
        <div class="form-group">
          <label>كلمه السر</label>
          <div class="form-group__composed">
            <input
              [type]="isPasswordHashType"
              class="form-control"
              placeholder="*********"
              #new_password="ngModel"
              minlength="8"
              [(ngModel)]="passwordObj.new_password"
              name="new_password"
              required
            />
            <svg
              class="form-group__icon"
              *ngIf="isPasswordHashType == 'password'"
              (click)="isPasswordHashType = 'text'"
            >
              <use
                xlink:href="/assets/image/svg-icons.svg#icon-visibility"
              ></use>
            </svg>
            <svg
              class="form-group__icon"
              *ngIf="isPasswordHashType == 'text'"
              (click)="isPasswordHashType = 'password'"
            >
              <use xlink:href="/assets/image/svg-icons.svg#icon-hidden"></use>
            </svg>
          </div>
          <div
            *ngIf="
              new_password.invalid &&
              (new_password.dirty || new_password.touched)
            "
            class="validation"
          >
            <p class="validation__title" *ngIf="new_password.errors.required">
              هذا الحقل مطلوب
            </p>
            <p class="validation__title" *ngIf="new_password.errors?.minlength">
              يجب أن يكون طول النص على الأقل 8 حروفٍ/حرفًا
            </p>
          </div>
        </div>
        <div class="form-group">
          <label> تاكيد كلمه السر </label>
          <div class="form-group__composed">
            <input
              [type]="isRPasswordHashType"
              class="form-control"
              placeholder="*********"
              name="new_confirm_password"
              #new_confirm_password="ngModel"
              [(ngModel)]="passwordObj.new_confirm_password"
              required
            />
            <svg
              class="form-group__icon"
              *ngIf="isRPasswordHashType == 'password'"
              (click)="isRPasswordHashType = 'text'"
            >
              <use
                xlink:href="/assets/image/svg-icons.svg#icon-visibility"
              ></use>
            </svg>
            <svg
              class="form-group__icon"
              *ngIf="isRPasswordHashType == 'text'"
              (click)="isRPasswordHashType = 'password'"
            >
              <use xlink:href="/assets/image/svg-icons.svg#icon-hidden"></use>
            </svg>
          </div>
          <div
            *ngIf="
              new_confirm_password.invalid &&
              (new_confirm_password.dirty || new_confirm_password.touched)
            "
            class="validation"
          >
            <p
              class="validation__title"
              *ngIf="new_confirm_password.errors.required"
            >
              هذا الحقل مطلوب
            </p>
          </div>
          <p
            class="validation__title"
            *ngIf="
              passwordObj.new_password !== passwordObj.new_confirm_password
            "
          >
            يجب ان يتطابق مع كلمه السر
          </p>
        </div>
      </div>
    </div>
    <div class="dialog__actions">
      <button
        type="submit"
        (click)="changePassword()"
        [disabled]="!Form.valid"
        class="button button--radius button--secondary"
      >
        <span>تغيير</span>
        <div class="loading" *ngIf="isLoading">
          <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
        </div>
      </button>
    </div>
  </form>
</div>
