.empty-state{
    border: 1px solid #c7c7c7;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &--no-border{
        border: 0;
    }
    &--white{
        .empty-state__icon{
            > svg{
                fill: #fff;
            }
        }
        .empty-state__message{
            color: #fff;
        }
    }
}
.empty-state__icon{
    > svg{
        width: 60px;
        height: 60px;
        fill: #565656;
    }
    margin-bottom: 10px;
}
.empty-state__message{
    font-size: 1.5em;
    color: #565656;
}
