.forgot-password {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forgot-password__bg {
  @include breakpoint(mid) {
    background: url(/assets/image/group.svg) no-repeat left;
    height: calc(100vh - #{$header-height});
    background-position-y: bottom;
  }

  @include breakpoint(isMobile) {
    background-position-x: center;
    background-size: contain;
  }
}

.forgot-password__link {
  margin-top: 19px;
}

.forgot-password__text {
  font-size: 13px;
  font-weight: 400;
  margin-top: 25px;
  color: $color-user;
  opacity: 1;
  a {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: $color-new-secondary;
    opacity: 1;
  }
}
