.login {
  padding-top: 3em;
}

.container__flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__bg {
  height: calc(100vh - #{$header-height});
  @include breakpoint(large) {
    background: url(/assets/image/login.png) no-repeat left;
    background-size: contain
  }
}

.forget__password {
  font-size: 10px;
  text-decoration: none;
  color: $link-color;
  transition: color 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

.form-group__password {
  position: relative;
  a {
    text-decoration: none;
  }
}

.main-table__icon--style {
  width: 15px;
  position: absolute;
  top: 50px;
  left: 15px;
  fill: #5d5d5d;
  opacity: 0.5;
  cursor: pointer;
}

.login__link {
  margin-top: 30px;
  a {
    font-size: 14px;
    font-weight: 400;
    color: $link-color;
    text-decoration: none;
    opacity: 1;
    &:hover {
      text-decoration: none;
    }
  }
}

.form-group__new-account {
  font-size: 14px;
  font-weight: 400;
  color: $color-text-dark;
  a {
    color: $color-new-secondary;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    &:hover {
      text-decoration: none;
      color: $link-hover-color;
    }
  }
}
