.reset-password {
    padding-top: 45px;
}


.reset-password__bg {
    background: url(/assets/image/group.svg) no-repeat left;
    height: calc(100vh - #{$header-height});
    background-position-y: bottom;
    @include breakpoint(isMobile) {
        background-position-x: center;
        background-size: contain;
      }
}

.reset-password__link {
    margin-top: 10px;
   .reset-password__text {
       font-size: 13px;
       font-weight: 400;
       color: $color-user;
       opacity: 1;
   }
}