<breadcrumb crumbText="اداره الطلبات"></breadcrumb>
<section>
    <div class="container">
        <div class="l-f-between">
            <div class="page-header">
                <h2 class="page-header__title">
                    طلبات حذف مشروع
                </h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control search-input" id="formGroupExampleInput"
                            placeholder="ابحث في المشاريع">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                            <span>أمجاد عقاريه</span>
                        </div>
                        <span>سبب الحذف</span>
                        <p class="card__descrption card__descrption--size">لقد انتهينا من بيع جميع الوحدات بالمشروع و
                            سوف نبدأ بانشاء مشاريع
                            جديدة ان شاء الله</p>
                    </div>
                    <div class="">
                        <button (click)="refDialog()"
                            class="button button--radius button--danger button--sm button--secondary ">
                            حذف
                        </button>
                        <button (click)="acceptDialog()" class="button button--sm button--radius button--secondary">
                            رفض الطلب
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                            <span>أمجاد عقاريه</span>
                        </div>
                        <span>سبب الحذف</span>
                        <p class="card__descrption card__descrption--size">لقد انتهينا من بيع جميع الوحدات بالمشروع و
                            سوف نبدأ بانشاء مشاريع
                            جديدة ان شاء الله</p>
                    </div>
                    <div class="">
                        <button (click)="refDialog()"
                            class="button button--radius button--danger button--sm button--secondary ">
                            حذف
                        </button>
                        <button (click)="acceptDialog()" class=" button button--sm button--radius button--secondary">
                            رفض الطلب
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                            <span>أمجاد عقاريه</span>
                        </div>
                        <span>سبب الحذف</span>
                        <p class="card__descrption card__descrption--size">لقد انتهينا من بيع جميع الوحدات بالمشروع و
                            سوف نبدأ بانشاء مشاريع
                            جديدة ان شاء الله</p>
                    </div>
                    <div class="">
                        <button (click)="refDialog()"
                            class="button button--radius button--danger button--sm button--secondary ">
                            حذف
                        </button>
                        <button (click)="acceptDialog()" class=" button button--sm button--radius button--secondary">
                            رفض الطلب
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                            <span>أمجاد عقاريه</span>
                        </div>
                        <span>سبب الحذف</span>
                        <p class="card__descrption card__descrption--size">لقد انتهينا من بيع جميع الوحدات بالمشروع و
                            سوف نبدأ بانشاء مشاريع
                            جديدة ان شاء الله</p>
                    </div>
                    <div class="">
                        <button (click)="refDialog()"
                            class="button button--radius button--danger button--sm button--secondary ">
                            حذف
                        </button>
                        <button (click)="acceptDialog()" class=" button button--sm button--radius button--secondary">
                            رفض الطلب
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m">
                            <h4 class="card-content card-content__color">أمجاد الياسمين</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>