<section>
  <div class="row l-f-baseline">
    <div class="col">
      <div class="page-header">
        <h2 class="page-header__title">حسابات جديدة</h2>
        <p class="page-header__caption">
          يمكنك رؤية طلبات التسجيل الجديدة المقدمة من المطورين العقاريين
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <input class="form-control search-input" placeholder="ابحث في الطلبات" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title">رقم الطلب <span>532</span></h4>
        <div class="panel__content">
          <div class="panel__group">
            <p class="panel__description panel__description--bold">
              الاسم بالكامل
            </p>
            <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
          </div>
          <div class="panel__group panel__group--flex panel__group--justify-between">
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  الاسم التجاري
                </p>
                <p class="panel__description">مستقبل العقارات</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  المدينة
                </p>
                <p class="panel__description">الرياض</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">
                  <a href="/" target="_blank" class="upload-shape">
                    <svg class="upload-shape__icon">
                      <use xlink:href="/assets/image/svg-icons.svg#icon-share"></use>
                    </svg>
                    <span class="upload-shape__desc">ترخيص مستقبل العقارات.pdf</span>
                  </a>
                </p>
              </div>
            </div>
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم السجل التجاري
                </p>
                <p class="panel__description">5262589</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم هوية صاحب السجل
                </p>
                <p class="panel__description">32568952</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">050632653</p>
              </div>
            </div>
          </div>
          <div class="panel__group panel__group--flex">
            <button (click)="acceptanceDialog()"
              class="button button--radius button--w-60 button--sm button--secondary">
              تفعيل
            </button>
            <button (click)="refuseeDialog()" class="button button--radius button--sm button--w-60 button--danger">
              رفض
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title">رقم الطلب <span>532</span></h4>
        <div class="panel__content">
          <div class="panel__group">
            <p class="panel__description panel__description--bold">
              الاسم بالكامل
            </p>
            <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
          </div>
          <div class="panel__group panel__group--flex panel__group--justify-between">
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  الاسم التجاري
                </p>
                <p class="panel__description">مستقبل العقارات</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  المدينة
                </p>
                <p class="panel__description">الرياض</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">0502314789</p>
              </div>
            </div>
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم السجل التجاري
                </p>
                <p class="panel__description">5262589</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم هوية صاحب السجل
                </p>
                <p class="panel__description">32568952</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">050632653</p>
              </div>
            </div>
          </div>
          <div class="panel__group panel__group--flex">
            <button class="button button--radius button--sm button--w-60 button--secondary">
              تفعيل
            </button>
            <button class="button button--radius button--sm button--w-60 button--danger">
              رفض
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title">رقم الطلب <span>532</span></h4>
        <div class="panel__content">
          <div class="panel__group">
            <p class="panel__description panel__description--bold">
              الاسم بالكامل
            </p>
            <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
          </div>
          <div class="panel__group panel__group--flex panel__group--justify-between">
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  الاسم التجاري
                </p>
                <p class="panel__description">مستقبل العقارات</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  المدينة
                </p>
                <p class="panel__description">الرياض</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">0502314789</p>
              </div>
            </div>
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم السجل التجاري
                </p>
                <p class="panel__description">5262589</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم هوية صاحب السجل
                </p>
                <p class="panel__description">32568952</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">050632653</p>
              </div>
            </div>
          </div>
          <div class="panel__group panel__group--flex">
            <button class="button button--radius button--sm button--w-60 button--secondary">
              تفعيل
            </button>
            <button class="button button--radius button--sm button--w-60 button--danger">
              رفض
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title">رقم الطلب <span>532</span></h4>
        <div class="panel__content">
          <div class="panel__group">
            <p class="panel__description panel__description--bold">
              الاسم بالكامل
            </p>
            <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
          </div>
          <div class="panel__group panel__group--flex panel__group--justify-between">
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  الاسم التجاري
                </p>
                <p class="panel__description">مستقبل العقارات</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  المدينة
                </p>
                <p class="panel__description">الرياض</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">0502314789</p>
              </div>
            </div>
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم السجل التجاري
                </p>
                <p class="panel__description">5262589</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم هوية صاحب السجل
                </p>
                <p class="panel__description">32568952</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">050632653</p>
              </div>
            </div>
          </div>
          <div class="panel__group panel__group--flex">
            <button class="button button--radius button--sm button--w-60 button--secondary">
              تفعيل
            </button>
            <button class="button button--radius button--sm button--w-60 button--danger">
              رفض
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title">رقم الطلب <span>532</span></h4>
        <div class="panel__content">
          <div class="panel__group">
            <p class="panel__description panel__description--bold">
              الاسم بالكامل
            </p>
            <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
          </div>
          <div class="panel__group panel__group--flex panel__group--justify-between">
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  الاسم التجاري
                </p>
                <p class="panel__description">مستقبل العقارات</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  المدينة
                </p>
                <p class="panel__description">الرياض</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">0502314789</p>
              </div>
            </div>
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم السجل التجاري
                </p>
                <p class="panel__description">5262589</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم هوية صاحب السجل
                </p>
                <p class="panel__description">32568952</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">050632653</p>
              </div>
            </div>
          </div>
          <div class="panel__group panel__group--flex">
            <button class="button button--radius button--sm button--w-60 button--secondary">
              تفعيل
            </button>
            <button class="button button--radius button--sm button--w-60 button--danger">
              رفض
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title">رقم الطلب <span>532</span></h4>
        <div class="panel__content">
          <div class="panel__group">
            <p class="panel__description panel__description--bold">
              الاسم بالكامل
            </p>
            <p class="panel__description">محمد بن فيصل حسين العفاسي</p>
          </div>
          <div class="panel__group panel__group--flex panel__group--justify-between">
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  الاسم التجاري
                </p>
                <p class="panel__description">مستقبل العقارات</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  المدينة
                </p>
                <p class="panel__description">الرياض</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">0502314789</p>
              </div>
            </div>
            <div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم السجل التجاري
                </p>
                <p class="panel__description">5262589</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم هوية صاحب السجل
                </p>
                <p class="panel__description">32568952</p>
              </div>
              <div class="panel__group">
                <p class="panel__description panel__description--bold">
                  رقم الجوال
                </p>
                <p class="panel__description">050632653</p>
              </div>
            </div>
          </div>
          <div class="panel__group panel__group--flex">
            <button class="button button--radius button--sm button--w-60 button--secondary">
              تفعيل
            </button>
            <button class="button button--radius button--sm button--w-60 button--danger">
              رفض
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>