<section>
  <div class="">
    <div class="l-f-between">
      <div class="page-header">
        <h2 class="page-header__title">إدارة الطلبات</h2>
        <p class="page-header__caption">
          يمكنك رؤية و إدارة الطلبات المقدمة من المستخدمين
        </p>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input
            class="form-control form-control--border search-input"
            placeholder="ابحث في الطلبات"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="main-card main-card--vertical p-0">
          <div>
            <h2 class="main-card__subtitle">طلبات التمويل</h2>
          </div>
          <div class="main-card__info main-card__info--pd">
            <p class="typo-body2 l-f desc-info">
              <span>عدد الطلبات المفتوحه</span>
              <span>:</span>
              <span> 5 طلبات</span>
            </p>
            <p class="l-f desc-info">
              <span>عدد الطلبات الاجمالي</span>
              <span>:</span>
              <span>16 طلب</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-card main-card--vertical p-0">
          <div>
            <h2 class="main-card__subtitle main-card__subtitle--danger">
              طلبات حذف مشروع
            </h2>
          </div>
          <div class="main-card__info main-card__info--pd">
            <p class="typo-body2 l-f desc-info">
              <span>عدد الطلبات المفتوحه</span>
              <span>:</span>
              <span> 5 طلبات</span>
            </p>
            <p class="l-f desc-info">
              <span>عدد الطلبات الاجمالي</span>
              <span>:</span>
              <span>16 طلب</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-card main-card--vertical p-0">
          <div>
            <h2 class="main-card__subtitle main-card__subtitle--green">
              طلبات الحجز
            </h2>
          </div>
          <div class="main-card__info main-card__info--pd">
            <p class="typo-body2 l-f desc-info">
              <span>عدد الطلبات المفتوحه</span>
              <span>:</span>
              <span> 5 طلبات</span>
            </p>
            <p class="l-f desc-info">
              <span>عدد الطلبات الاجمالي</span>
              <span>:</span>
              <span>16 طلب</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="main-card main-card--vertical p-0">
          <div>
            <h2 class="main-card__subtitle main-card__subtitle--blue">
              طلبات الزيارة
            </h2>
          </div>
          <div class="main-card__info main-card__info--pd">
            <p class="typo-body2 l-f desc-info">
              <span>عدد الطلبات المفتوحه</span>
              <span>:</span>
              <span> 5 طلبات</span>
            </p>
            <p class="l-f desc-info">
              <span>عدد الطلبات الاجمالي</span>
              <span>:</span>
              <span>16 طلب</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
