<section>
  <breadcrumb crumbText="طلبات التمويل"></breadcrumb>
  <div class="row l-f-baseline">
    <div class="col">
      <div class="page-header">
        <h2 class="page-header__title">طلب تمويل رقم 532</h2>
      </div>
    </div>
    <div class="col-md-3 content-left">
      <button (click)="acceptanceDialog()" class="button button--secondary button--sm button--radius">
        تغيير حالة الطلب
      </button>
      <button (click)="refuseDialog()" class="button button--danger button--sm button--radius">
        إلغاء
      </button>
    </div>
  </div>
  <div class="row m-b-30">
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title panel__title--default">بيانات العميل</h4>
        <div class="panel__content">
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              اسم العميل
            </p>
            <p class="panel__description panel__description--sm">
              عبد الرحمن محمد
            </p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              رقم الجوال
            </p>
            <p class="panel__description panel__description--sm">0502314789</p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              تاريخ الطلب
            </p>
            <p class="panel__description panel__description--sm">01/02/2020</p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              حالة الطلب
            </p>
            <p class="panel__description panel__description--sm">
              في انتظار تأكيد طلب الحجز
            </p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              البريد الالكتروني
            </p>
            <p class="panel__description panel__description--sm">
              am2015@mail.com
            </p>
          </div>
          <div class="panel__group panel__group--inline panel__group panel__group--inline--flex">
            <button class="button button--radius button--sm button--w-75 button--outline">
              التفاصيل
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title panel__title--primary">بيانات العميل</h4>
        <div class="panel__content">
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              اسم العميل
            </p>
            <p class="panel__description panel__description--sm">
              عبد الرحمن محمد
            </p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              رقم الجوال
            </p>
            <p class="panel__description panel__description--sm">0502314789</p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              تاريخ الطلب
            </p>
            <p class="panel__description panel__description--sm">01/02/2020</p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              حالة الطلب
            </p>
            <p class="panel__description panel__description--sm">
              في انتظار تأكيد طلب الحجز
            </p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              البريد الالكتروني
            </p>
            <p class="panel__description panel__description--sm">
              am2015@mail.com
            </p>
          </div>
          <div class="panel__group panel__group--inline panel__group panel__group--inline--flex">
            <button class="button button--radius button--sm button--w-75 button--outline">
              التفاصيل
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h4 class="panel__title panel__title--blue">بيانات العميل</h4>
        <div class="panel__content">
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              اسم العميل
            </p>
            <p class="panel__description panel__description--sm">
              عبد الرحمن محمد
            </p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              رقم الجوال
            </p>
            <p class="panel__description panel__description--sm">0502314789</p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              تاريخ الطلب
            </p>
            <p class="panel__description panel__description--sm">01/02/2020</p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              حالة الطلب
            </p>
            <p class="panel__description panel__description--sm">
              في انتظار تأكيد طلب الحجز
            </p>
          </div>
          <div class="panel__group panel__group--inline">
            <p class="panel__description panel__description--sm ">
              البريد الالكتروني
            </p>
            <p class="panel__description panel__description--sm">
              am2015@mail.com
            </p>
          </div>
          <div class="panel__group panel__group--inline panel__group panel__group--inline--flex">
            <button (click)="acceptanceDialog()" class="button button--radius button--sm button--blue">
              تعديل حالة الطلب
            </button>
            <button class="button button--radius button--sm button--w-75 button--outline">
              التفاصيل
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="typo-title typo--gold">البيانات بالتفصيل</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            المعلومات الشخصية
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>تاريخ الميلاد</span><span>:</span><span>محرم 1390</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>المرحلة</span><span>:</span><span>شراء أول عقار</span>
          </p>
        </div>
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            المعلومات المالية
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>قطاع العمل</span><span>:</span><span>البترول</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>تاريخ التعيين</span><span>:</span><span>محرم 1430</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>الراتب الاجمالي</span><span>:</span><span>ريال سعودي</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>حالة الدعم</span><span>:</span><span>لا يوجد دعم</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>البنك الذي يتم استلام الراتب عليه</span><span>:</span><span>بنك الرياض</span>
          </p>
        </div>
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            تفاصيل الراتب
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>الراتب الأساسي (بدون بدلات)</span><span>:</span><span>ريال سعودي 2000</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>بدل سكن</span><span>:</span><span>ريال سعودي 2000</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>بدل نقل</span><span>:</span><span>لا يوجد</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>بدلات اخري</span><span>:</span><span>ريال سعودي 2000</span>
          </p>
        </div>
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            الالتزامات الشهرية
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>قيمة الالتزام الشهري</span><span>:</span><span>لا يوجد إلتزام شهري</span>
          </p>
        </div>
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            التعثرات المالية
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>إجمالي قيمة التعثر</span><span>:</span><span>لا يوجد تعثر مالي</span>
          </p>
        </div>
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            الدخل الإضافي
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>جهة العمل</span><span>:</span><span>لا يوجد دخل إضافي</span>
          </p>
        </div>
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            بيانات اخري
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>هل معك متضامن</span><span>:</span><span>لا ليس معي متضامن</span>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="typo-group">
          <h3 class="typo--bold typo--default typo-body1 m-b-20">
            بيانات العقار
          </h3>
          <p class="typo-body2 l-f text-info">
            <span>اسم المشروع</span><span>:</span><span>أمجاد الياسمين</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>رقم الوحدة</span><span>:</span><span>5800</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>اسم النموذج</span><span>:</span><span>A نموذج</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>السعر</span><span>:</span><span>ريال سعودي 2,000,000</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>قيمة الدفعة الأولي</span><span>:</span><span>ريال سعودي 1,000,000</span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>المدينة</span><span>:</span><span>الرياض </span>
          </p>
          <p class="typo-body2 l-f text-info">
            <span>الحي</span><span>:</span><span>الياسمين </span>
          </p>
        </div>
        <div class="form-group">
          <div>
            <mat-checkbox>تم ترميم العقار من قبل</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>يحتوي العقار علي محلات تجارية</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>عدد الشقق داخل العقار أكثر من أربع شقق</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>رخصة البناء من نوع بدل فاقد أو ترميم</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>عمارة تجارية</mat-checkbox>
          </div>
        </div>
        <div class="map-fram">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29011.702046169226!2d46.7288981392116!3d24.64219504350922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f05d8af53ee07%3A0xaeea1315c3956c79!2sAl%20Sina&#39;iyah%2C%20Riyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1585819184061!5m2!1sen!2seg"
            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>