<main>
    <div class="section-container">
      <div class="container mt-5">
        <h1 class="section_container_details_title typo-display1">الشروط والأحكام
        </h1>
        <h2 class="typo-headline u-color-tertiary">أحكام وشروط استخدام الموقع الالكتروني لشركة عطارد.</h2>
        <p class="mb-5">شروط وأحكام استخدام الموقع الإلكتروني لشركة عطارد للوساطة(ويشار اليها بالشروط والاحكام) تتضمن
          الشروط والأحكام
          الواجب اتباعها عند استخدام الموقع الإلكتروني www.otared.sa (“موقعنا”). أو من أجل التعاقد مع شركة عطارد للوساطة
          (أو) التصفح (أو التسجيل لاستخدام الموقع). نرجو قراءة هذه الشروط والأحكام باهتمام قبل البدء باستخدام موقعنا، حيث
          أنها تسري على استخدامكم لموقعنا. وننصح بطباعة نسخة منها لاستخدامها كمرجع في المستقبل. وباستخدامكم لموقعنا أنتم
          تؤكدون موافقتكم على هذه الشروط والأحكام وتوافقون على التقيد والالتزام بها. في حالة عدم موافقتكم على هذه الشروط
          والأحكام يجب عليكم عدم استخدام موقعنا.
  
        </p>
        <p>شروط أخرى تسري على موقعنا:</p>
        <p class="blue typo-headline mb-2">موافقتكم على هذه الشروط والاحكام عند استخدامكم الموقع تعني أيضا موافقتكم على ما يلي:
        </p>
        <p>سياسة الخصوصية للموقع وأن المعلومات التي تقدمونها للموقع معلومات صحيحة ودقيقة وتتعهدون بذلك.
          تعليمات استخدام الموقع المحددة من قبل شركة عطارد للوساطة (عطارد) حسبما تراه تعليمات مقبولة والتزم بالتقيد بها
          وعدم مجاوزتها ومخالفتها الا بموافقة عطارد الخطية أو بالإعلان عنها في الموقع.
          سياستنا في حفظ الملفات الالكترونية والمعلومات التي تزودونا بها او التي تحصلنا عليها من مصادر أخرى والموافقة على
          حق عطارد في التصرف في تلك المعلومات والملفات.
        </p>
        <p class="blue typo-headline mb-2">
          التغيير والتعديل في والاحكام والشروط:
        </p>
        <p class="mb-5">يحق لشركة عطارد حسب رؤيتها ان تقوم بمراجعة هذه الأحكام والشروط وتغييرها او تعديلها في أي وقت من
          الأوقات
          والاعلان عنها في الموقع. نرجو مراجعة الموقع من وقت لآخر للاطلاع على أي تغييرات قد تجريها عطارد، وتكون ملزمة لكم.
        </p>
        <p class="blue typo-headline mb-2">
          الوصول إلى موقع شركة عطارد للوساطة(عطارد):
        </p>
        <p class="mb-5">الوصول الي موقع عطارد www.otared.saمتاح مجاناً وستعمل عطارد قصارى جهدها لجعل الموقع متاح لكم كل ما
          كان ذلك
          ممكنا ومع ذلك عطارد لا تضمن أن موقعها ومحتوياته سوف يكون متاحاً لكم على مدار الساعة دون انقطاع. ويجوز لعطارد
          إيقاف أو سحب أو تعليق أو تغيير موقعها كليا او جزئيا في أي وقت دون اشعار مسبق ودون ابداء الأسباب ولا يرتب ذلك أي
          مسئولية على شركة عطارد وتابعيها ومنسوبيها. أنتم مسئولين عن عمل كافة الترتيبات الضرورية لكم للوصول إلى موقعنا
          www.otared.sa . كما أنكم مسئولين أيضاً عن الأشخاص الذين يصلون إلى موقعنا عن طريق حساباتكم واجهزة اتصالاتكم
          بالإنترنت ومسئولون عن مدى التزامهم بهذه الأحكام والشروط.
        </p>
        <p class="blue typo-headline mb-2">حسابكم لدى عطارد وكلمة المرور:
        </p>
        <p class="mb-5">إذا اخترتم، أو قُدم لكم، رمز تعريف أو كلمة مرور المستخدم أو غيرها من المعلومات كجزء من إجراءاتنا
          الأمنية، عليكم
          المعاملة مع تلك المعلومات بسرية تامة. ويجب عدم إفشائها لأي شخص أو جهة أخرى. ونحن لدينا الحق في تعطيل أي رمز
          تعريف أو كلمة مرور المستخدم، سواء قمتم باختيارها أو خصصت لكم، في أي وقت إذا رأينا من وجهة نظرنا بحدود المناسب
          أنكم لم تتقيدوا بأي من نصوص أحكام وشروط الاستخدام لموقع عطارد. إذا علمتم أو ساورتكم الشكوك بوجود أي شخص خلافكم
          يعلم رمز تعريف أو كلمة مرور المستخدم الخاصة بكم، يلزمكم إبلاغنا فورا على wecare@otared.sa
        </p>
        <p class="blue typo-headline mb-2">عدم الاعتماد على المعلومات:
        </p>
        <p class="mb-5">محتوى موقع عطارد معلومات عامة فحسب. وليس الغرض منه تقديم استشارات تعتمدون عليها. في حالة رغبتكم في
          الحصول على معلومات استشارية يلزمكم الحصول عليها من جهات مهنية متخصصة. لا يتضمن موقع عطارد أي تعهدات أو ضمانات،
          سواء كانت صريحة أو ضمنية من شركة عطارد للوساطة.
        </p>
        <p class="blue typo-headline mb-2">حدود مسئوليتنا:
        </p>
        <p class="mb-5">
          الوصول الي موقع عطارد www.otared.saمتاح مجاناً وستعمل عطارد قصارى جهدها لجعل الموقع متاح لكم كل ما كان ذلك ممكنا
          ومع ذلك عطارد لا تضمن أن موقعها ومحتوياته سوف يكون متاحاً لكم على مدار الساعة دون انقطاع. ويجوز لعطارد إيقاف أو
          سحب أو تعليق أو تغيير موقعها كليا او جزئيا في أي وقت دون اشعار مسبق ودون ابداء الأسباب ولا يرتب ذلك أي مسئولية
          على شركة عطارد وتابعيها ومنسوبيها. أنتم مسئولين عن عمل كافة الترتيبات الضرورية لكم للوصول إلى موقعنا
          www.otared.sa . كما أنكم مسئولين أيضاً عن الأشخاص الذين يصلون إلى موقعنا عن طريق حساباتكم واجهزة اتصالاتكم
          بالإنترنت ومسئولون عن مدى التزامهم بهذه الأحكام والشروط.
        </p>
        <p class="blue typo-headline mb-2">الفيروسات</p>
        <p class="mb-5">إذا اخترتم، أو قُدم لكم، رمز تعريف أو كلمة مرور المستخدم أو غيرها من المعلومات كجزء من إجراءاتنا
          الأمنية، عليكم المعاملة مع تلك المعلومات بسرية تامة. ويجب عدم إفشائها لأي شخص أو جهة أخرى. ونحن لدينا الحق في
          تعطيل أي رمز تعريف أو كلمة مرور المستخدم، سواء قمتم باختيارها أو خصصت لكم، في أي وقت إذا رأينا من وجهة نظرنا
          بحدود المناسب أنكم لم تتقيدوا بأي من نصوص أحكام وشروط الاستخدام لموقع عطارد. إذا علمتم أو ساورتكم الشكوك بوجود
          أي شخص خلافكم يعلم رمز تعريف أو كلمة مرور المستخدم الخاصة بكم، يلزمكم إبلاغنا فورا على wecare@otared.sa
        </p>
        <p class="blue typo-headline mb-2">الاتصال بموقعنا:
        </p>
        <p class="mb-5">محتوى موقع عطارد معلومات عامة فحسب. وليس الغرض منه تقديم استشارات تعتمدون عليها. في حالة رغبتكم في
          الحصول على معلومات استشارية يلزمكم الحصول عليها من جهات مهنية متخصصة. لا يتضمن موقع عطارد أي تعهدات أو ضمانات،
          سواء كانت صريحة أو ضمنية من شركة عطارد للوساطة. </p>
        <p class="blue typo-headline mb-2">روابط وموارد الأطراف الأخرى في موقعنا:</p>
        <p class="mb-5">إذا اخترتم، أو قُدم لكم، رمز تعريف أو كلمة مرور المستخدم أو غيرها من المعلومات كجزء من إجراءاتنا
          الأمنية، عليكم المعاملة مع تلك المعلومات بسرية تامة. ويجب عدم إفشائها لأي شخص أو جهة أخرى. ونحن لدينا الحق في
          تعطيل أي رمز تعريف أو كلمة مرور المستخدم، سواء قمتم باختيارها أو خصصت لكم، في أي وقت إذا رأينا من وجهة نظرنا
          بحدود المناسب أنكم لم تتقيدوا بأي من نصوص أحكام وشروط الاستخدام لموقع عطارد. إذا علمتم أو ساورتكم الشكوك بوجود
          أي شخص خلافكم يعلم رمز تعريف أو كلمة مرور المستخدم الخاصة بكم، يلزمكم إبلاغنا فورا على wecare@otared.sa </p>
        <p class="blue typo-headline mb-2">التعويض والحماية:
        </p>
        <p class="mb-5">محتوى موقع عطارد معلومات عامة فحسب. وليس الغرض منه تقديم استشارات تعتمدون عليها. في حالة رغبتكم في
          الحصول على معلومات استشارية يلزمكم الحصول عليها من جهات مهنية متخصصة. لا يتضمن موقع عطارد أي تعهدات أو ضمانات،
          سواء كانت صريحة أو ضمنية من شركة عطارد للوساطة.
        </p>
      </div>
    </div>
  </main>