<breadcrumb crumbText="المطورين |امجاد عقاريه"></breadcrumb>
<section>
    <div class="container">
        <div class="l-f-between">
            <div class="page-header">
                <h2 class="page-header__title">
                    المشاريع
                </h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control search-input" id="formGroupExampleInput"
                            placeholder="ابحث في المشاريع">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>المحافظه </span>
                                <span>:</span>
                                <span>الرياض</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>المدينه</span>
                                <span>:</span>
                                <span>الرياض</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المتاحه</span>
                                <span>:</span>
                                <span>200 وحده</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المحجوزه</span>
                                <span>:</span>
                                <span>27 وحده</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المباعه</span>
                                <span>:</span>
                                <span>717 وحده</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            النمازج
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>المحافظه </span>
                                <span>:</span>
                                <span>الرياض</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>المدينه</span>
                                <span>:</span>
                                <span>الرياض</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المتاحه</span>
                                <span>:</span>
                                <span>200 وحده</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المحجوزه</span>
                                <span>:</span>
                                <span>27 وحده</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المباعه</span>
                                <span>:</span>
                                <span>717 وحده</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            النمازج
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/mask.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>المحافظه </span>
                                <span>:</span>
                                <span>الرياض</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>المدينه</span>
                                <span>:</span>
                                <span>الرياض</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المتاحه</span>
                                <span>:</span>
                                <span>200 وحده</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المحجوزه</span>
                                <span>:</span>
                                <span>27 وحده</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>الوحدات المباعه</span>
                                <span>:</span>
                                <span>717 وحده</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            النمازج
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/bernard3.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">نموزج A</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>طلبات الحجز</span>
                                <span>:</span>
                                <span>21 طلب</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>طلبات الزياره</span>
                                <span>:</span>
                                <span>68 طلب</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            الوحدات
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/bernard1.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">نموزج CHC</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>طلبات الحجز</span>
                                <span>:</span>
                                <span>17 طلب</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>طلبات الزياره</span>
                                <span>:</span>
                                <span>77 طلب</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            الوحدات
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>