<section>
    <div class="container">
        <div class="l-f-between">
            <div class="page-header">
                <h2 class="page-header__title">
                    المطورين
                </h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control search-input" placeholder="ابحث في المطورين" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>اسم المطور</span>
                                <span>:</span>
                                <span>محمد اجمد منصور</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>رقم الجوال</span>
                                <span>:</span>
                                <span>052777777</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>عدد المشاريع</span>
                                <span>:</span>
                                <span>7 مشاريع</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            المشاريع
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>اسم المطور</span>
                                <span>:</span>
                                <span>محمد اجمد منصور</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>رقم الجوال</span>
                                <span>:</span>
                                <span>052777777</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>عدد المشاريع</span>
                                <span>:</span>
                                <span>7 مشاريع</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            المشاريع
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>اسم المطور</span>
                                <span>:</span>
                                <span>محمد اجمد منصور</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>رقم الجوال</span>
                                <span>:</span>
                                <span>052777777</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>عدد المشاريع</span>
                                <span>:</span>
                                <span>7 مشاريع</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            المشاريع
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div class="data__details--info">
                            <p class="typo-body2 l-f text-info">
                                <span>اسم المطور</span>
                                <span>:</span>
                                <span>محمد اجمد منصور</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>رقم الجوال</span>
                                <span>:</span>
                                <span>052777777</span>
                            </p>
                            <p class="typo-body2 l-f text-info">
                                <span>عدد المشاريع</span>
                                <span>:</span>
                                <span>7 مشاريع</span>
                            </p>
                        </div>
                    </div>
                    <div class="button__bottom">
                        <button class="button button--sm button--radius button--secondary">
                            المشاريع
                        </button>
                        <button class="button button--radius button--outline button--sm">
                            تفاصيل
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" main-card main-card--vertical">
                    <img src="/assets/image/massk.png" class="card-img-top" alt="img_visits">
                    <div class="card-body card-body--pd">
                        <div class="card-body--m  card-body--flex">
                            <h4 class="card-content card-content__color">أمجاد عقاريه</h4>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>