<!-- <section class="login login__bg">
  <div class="container">
    <div class="page-header">
      <h2 class="page-header__title">تسجيل دخول</h2>
      <p class="page-header__caption">مرحبا بك مرة اخري في موقع عطارد</p>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="formGroupExampleInput">رقم الجوال</label>
            <input
              type="namber"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="05xxxxx"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">كلمه السر</label>
            <div class="form-group__composed">
              <input
                [type]="isTextFieldType ? 'text' : 'password'"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="*********"
              />
              <svg class="form-group__icon" (click)="togglePasswordFieldType()">
                <use
                  xlink:href="/assets/image/svg-icons.svg#icon-visibility"
                ></use>
              </svg>
            </div>
          </div>
          <div class="form-group">
            <a routerLink="/forgot-password" class="forget__password"
              >هل نسيت كلمه السر؟</a
            >
          </div>
          <div class="form-group">
            <button
              class="button button--block button--radius button--secondary"
            >
              تسجيل دخول
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-group__new-account">
              ليس لديك حساب في عطارد؟ <a href="#" class="">انشأ حسابك الان</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <footer class="footer">
            <p class="footer__text">
              جميع الحقوق محفوظة لشركة عطارد للحلول السكنية 2020
            </p>
          </footer>
        </div>
      </div>
    </form>
  </div>
</section> -->

<section class="login forgot-password__bg">
  <div class="container login__container">
    <div class="row">
      <div class="col-lg-3">
        <div class="page-header">
          <h2 class="page-header__title">تسجيل دخول</h2>
          <p class="page-header__caption">مرحباً بك مرة أخرى في موقع عطارد</p>
        </div>
        <form #loginForm="ngForm">
          <div class="">
            <div class="form-group">
              <label>رقم الجوال</label>
              <input
                type="namber"
                class="form-control"
                placeholder="05xxxxx"
                name="phone_number"
                pattern="[0-9]{10}$"
                #phone_number="ngModel"
                [(ngModel)]="user.phone_number"
                required
                (input)="error = false"
              />
              <div
                *ngIf="
                  phone_number.invalid &&
                  (phone_number.dirty || phone_number.touched)
                "
                class="validation"
              >
                <p
                  class="validation__title"
                  *ngIf="phone_number.errors.required"
                >
                  هذا الحقل مطلوب
                </p>
                <p
                  class="validation__title"
                  *ngIf="phone_number.errors?.pattern"
                >
                  يجب أن يحتوي بين 10 و 10 رقمًا/أرقام
                </p>
              </div>
              <p class="validation__title" *ngIf="error">
                هذه البيانات غير صحيحه
              </p>
            </div>
            <div class="form-group">
              <label>كلمه السر</label>
              <div class="form-group__composed">
                <input
                  [type]="isTextFieldType ? 'text' : 'password'"
                  class="form-control"
                  placeholder="*********"
                  name="password_hash"
                  #password_hash="ngModel"
                  minlength="8"
                  [(ngModel)]="user.password_hash"
                  required
                  (input)="error = false"
                />
                <svg
                  *ngIf="isTextFieldType == false"
                  class="form-group__icon"
                  (click)="togglePasswordFieldType()"
                >
                  <use
                    xlink:href="/assets/image/svg-icons.svg#icon-visibility"
                  ></use>
                </svg>
                <svg
                  *ngIf="isTextFieldType == true"
                  class="form-group__icon"
                  (click)="togglePasswordFieldType()"
                >
                  <use
                    xlink:href="/assets/image/svg-icons.svg#icon-hidden"
                  ></use>
                </svg>
              </div>
              <div
                *ngIf="
                  password_hash.invalid &&
                  (password_hash.dirty || password_hash.touched)
                "
                class="validation"
              >
                <p
                  class="validation__title"
                  *ngIf="password_hash.errors.required"
                >
                  هذا الحقل مطلوب
                </p>
                <p
                  class="validation__title"
                  *ngIf="password_hash.errors?.minlength"
                >
                  يجب أن يكون طول النص على الأقل 8 حروفٍ/حرفًا
                </p>
              </div>
              <p class="validation__title" *ngIf="error">
                هذه البيانات غير صحيحه
              </p>
            </div>
            <div class="form-group">
              <a routerLink="/auth/forgot-password" class="forget__password"
                >هل نسيت كلمه السر؟</a
              >
            </div>
            <div class="form-group">
              <button
                type="submit"
                [disabled]="!loginForm.valid"
                (click)="login()"
                class="button button--block button--radius button--secondary button--loading"
              >
                <span>تسجيل دخول</span>
                <div class="loading" *ngIf="isLoading">
                  <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
                </div>
              </button>
            </div>
          </div>
          <div class="">
            <div class="form-group">
              <div class="form-group__new-account">
                ليس لديك حساب في عطارد؟
                <a [routerLink]="'/auth/customer-register'" class=""
                  >انشأ حسابك الان</a
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <footer class="footer col-lg-3">
        <p class="footer__text">
          جميع الحقوق محفوظة لشركة عطارد للحلول السكنية 2020
        </p>
      </footer>
    </div>
  </div>
</section>
