<breadcrumb crumbText="طلبات حذف مشروع"></breadcrumb>
<section class="project-add">
  <div class="container">
    <div class="l-f-between">
      <div class="page-header">
        <h2 class="page-header__title">
          مشروع أمجاد الياسمين
        </h2>
      </div>
      <div class="card__brief">
        <div class="project-add___btn">
          <button
            (click)="refDialog()"
            class="button button--sm button--radius button--danger"
          >
            حذف
          </button>
          <button
            (click)="acceptDialog()"
            class="button button--sm button--radius button--secondary"
          >
            رفض الطلب
          </button>
          <button class="button button--sm button--radius button--outline">
            العودة
          </button>
        </div>
      </div>
    </div>
    <div class="project-add__logo">
      <img src="/assets/image/logoo.png" alt="logo" />
    </div>
    <div class="project-add__iamegs">
      <h3 class="project-add__img--title">صور المشروع</h3>
      <div class="row">
        <div class="col-md-2 m-2">
          <div class="project-add__img">
            <img src="/assets/image/bernard3.png" alt="bernard" />
          </div>
        </div>
        <div class="col-md-2 m-2">
          <div class="project-add__img">
            <img src="/assets/image/bernard4.png" alt="bernard" />
          </div>
        </div>
        <div class="col-md-2 m-2">
          <div class="project-add__img">
            <img src="/assets/image/bernard1.png" alt="bernard" />
          </div>
        </div>
        <div class="col-md-2 m-2">
          <div class="project-add__img">
            <img src="/assets/image/bernard.png" alt="bernard" />
          </div>
        </div>
        <div class="col-md-2 m-2">
          <div class="project-add__img">
            <img src="/assets/image/bernard2.png" alt="bernard" />
          </div>
        </div>
        <div class="col-md-2 m-2">
          <div class="project-add__img">
            <img src="/assets/image/bernard3.png" alt="bernard" />
          </div>
        </div>
      </div>
    </div>
    <div class="project-add__Planned">
      <h3 class="project-add__Planned--title">مخطط المشروع</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="project-add__Planned--img">
            <img src="assets/image/planned.png" alt="Planne-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="project-add__braef">
      <h3 class="project-add__brief--title">نبذة عن المشروع</h3>
      <p class="project-add__brief--desc">
        يتمتع مشروع فلل أمجال الياسمين بموقع استراتيجي علي واجهة الرياض الشكالية
        بالقرب من أهم الطرق الرئيسية طريق أبو بكر الصديق و أنس بن مالك و طريق
        الملك عبد العزيز و الملك سلمان. تتميز هذه المنطقة بارتفاع مستوي دخل
        سكانها و مستوياتهم الثقافية و القيمة الاقتصادية لمساكنها و اكتمال خدمات
        البنية التحتية و قربها من مرافق المال و الأعمال الهامة أماكن الخدمات
        الرئيسية
      </p>
    </div>
    <table class="table">
      <tr>
        <th></th>
      </tr>
      <tr class="">
        <td>المدينه</td>
        <td>الحي</td>
        <td>نوع النمازج</td>
        <td>عدد الوحدات</td>
        <div class="main-but">
          <button class="button button--sm button--radius button--mg">
            مشروع حصري
          </button>
        </div>
      </tr>
      <tr class="main-table__font">
        <td>الرياض</td>
        <td>اليرموك</td>
        <td>بيع - وحدات جاهزة</td>
        <td>150وحده</td>
      </tr>
    </table>
    <div class="project-add__card">
      <h3 class="project-add__card--title">نماذج المشروع</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="card--m main-card main-card--vertical card--m">
            <img
              src="/assets/image/ralph2.png"
              class="card-img-top"
              alt="img_visits"
            />
            <div class="card-body">
              <h4 class="card-content card-content__color">نموذج الفيلا AB</h4>
              <div class="card__type">
                <div class="card__type--desc">
                  <p class="card__type--map">النوع : بيع علي الخارطة</p>
                  <p class="card__type--map">عدد الوحدات المتاحة : 174</p>
                </div>
                <div class="card__type--desc">
                  <p class="card__type--text">طلبات الزيارة علي النموذج : 8</p>
                  <p class="card__type--text">طلبات حجز وحدة علي النموذج : 8</p>
                </div>
              </div>
              <p class="card__descrption">
                هذا النموذج هو وصف النموذج و هو كلام ديسكريبشن يتم التحكم به من
                خلال الادمن . هذا النموذج هو وصف النموذج و هو كلام ديسكريبشن يتم
                التحكم به من خلال الادمن
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card--m main-card main-card--vertical card--m">
            <img
              src="/assets/image/fran2.png"
              class="card-img-top"
              alt="img_visits"
            />
            <div class="card-body">
              <h4 class="card-content card-content__color">نموذج الفيلا AB</h4>
              <div class="card__type">
                <div class="card__type--desc">
                  <p class="card__type--map">النوع : بيع علي الخارطة</p>
                  <p class="card__type--map">عدد الوحدات المتاحة : 174</p>
                </div>
                <div class="card__type--desc">
                  <p class="card__type--text">طلبات الزيارة علي النموذج : 8</p>
                  <p class="card__type--text">طلبات حجز وحدة علي النموذج : 8</p>
                </div>
              </div>
              <p class="card__descrption">
                هذا النموذج هو وصف النموذج و هو كلام ديسكريبشن يتم التحكم به من
                خلال الادمن . هذا النموذج هو وصف النموذج و هو كلام ديسكريبشن يتم
                التحكم به من خلال الادمن
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project-add__Planned">
      <h3 class="project-add__Planned--title">بينات المطور</h3>
      <div class="">
        <div class="">
          <div class="project-add__Planned--img">
            <img
              class="data__developer"
              src="/assets/image/massk.png"
              alt="Planne-img"
            />
          </div>
          <div class="data__details--info">
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>الاسم الكامل</span>
              <span>:</span>
              <span>محمد اجمد منصور</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>الاسم التجاري</span>
              <span>:</span>
              <span>امجاد عقاريه</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>رقم السجل التجاري</span>
              <span>:</span>
              <span>307987</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>رقم الجوال</span>
              <span>:</span>
              <span>052777777</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>رقم هوايه صاحب السجل</span>
              <span>:</span>
              <span>104871212</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>المدينه</span>
              <span>:</span>
              <span>الرياض</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>البريد الالكتروني</span>
              <span>:</span>
              <span>___</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>الموقع الالكتروني</span>
              <span>:</span>
              <span>___</span>
            </p>
            <p class="typo-body2 l-f text-info text-info--desc">
              <span>العنوان</span>
              <span>:</span>
              <span>___</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
